POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=mto
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Used by backend
DATABASE_URL=postgresql+psycopg2://postgres:postgres@postgres:5432/mto

MTSUCA_PARSE_ON_STARTUP=1
MTSUCA_URL=https://www.mstuca.ru/sveden/objects/index.php?sphrase_id=28124
MTSUCA_OUT=/app/data/processed/mstuca_items2_normalized.csv
MTSUCA_KEEP_CAPACITY=0